<domain type='{{ libvirt_vm_engine }}'>
  <name>{{ vm.name }}</name>
  <memory>{{ vm.memory_mb | int * 1024 }}</memory>
  <vcpu placement='static'>{{ vm.vcpus }}</vcpu>
  <clock sync="localtime"/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <os>
    <type arch='{{ libvirt_vm_arch }}'{% if machine is not none %} machine='{{ machine }}'{% endif %}>hvm</type>
    <bootmenu enable='no'/>
    <boot dev='hd'/>
    <boot dev='network'/>
    <bios useserial='yes'/>
  </os>
  <features>
    <acpi/>
    <apic/>
    <pae/>
  </features>
  {% if cpu_mode %}
  <cpu mode='{{ cpu_mode }}'>
    <model fallback='allow'/>
  </cpu>
  {% endif %}
  <devices>
    <emulator>{{ libvirt_vm_emulator }}</emulator>
{% for volume in volumes %}
{% if (volume.type | default('volume')) == 'file' %}
    <disk type='file' device='{{ volume.device | default(libvirt_volume_default_device) }}'>
      <driver name='qemu' type='{{ volume.format | default(libvirt_volume_default_format) }}'/>
      <source file='{{ volume.path | default(vm_volume_paths[volume.pool|default('default')][volume.name]) }}'/>
      <target dev='vd{{ 'abcdefghijklmnopqrstuvwxyz'[loop.index - 1] }}'/>
    </disk>
{% else %}
    <disk type='volume' device='{{ volume.device | default(libvirt_volume_default_device) }}'>
      <driver name='qemu' type='{{ volume.format | default(libvirt_volume_default_format) }}'/>
      <source pool='{{ volume.pool|default('default') }}' volume='{{ volume.name }}'/>
      <target dev='vd{{ 'abcdefghijklmnopqrstuvwxyz'[loop.index - 1] }}'/>
    </disk>
{% endif %}
{% endfor %}
{% for interface in interfaces %}
{% if interface.type is defined and interface.type == 'direct' %}
    <interface type='direct'>
      <source dev='{{ interface.source.dev }}' mode='{{ interface.source.mode | default('vepa') }}'/>
{% elif (interface.type is defined and interface.type == 'bridge') or (interface.bridge is defined) %}
    <interface type='bridge'>
      <source bridge='{{ interface.bridge if interface.bridge is defined else interface.source.bridge }}'/>
{% else %}
    <interface type='network'>
      <source network='{{ interface.network }}'/>
{% endif %}
{% if interface.mac is defined %}
      <mac address='{{ interface.mac }}'/>
{% endif %}
      <model type='virtio'/>
    </interface>
{% endfor %}
{% if console_log_enabled | bool %}
    <serial type='file'>
      <source path='{{ console_log_path }}'/>
    </serial>
    <serial type='pty'/>
    <console type='file'>
      <source path='{{ console_log_path }}'/>
      <target type='serial'/>
    </console>
{% else %}
    <serial type='pty'>
      <target type='isa-serial' port='0'>
        <model name='isa-serial'/>
      </target>
    </serial>
    <console type='pty'>
      <target type='serial' port='0'/>
    </console>
{% endif %}
{% if graphics.type == 'vnc' %}
    <graphics type='vnc' port='-1' autoport='yes' listen='127.0.0.1' keymap='en-us'>
      <listen type='address' address='127.0.0.1'/>
    </graphics>
{% elif graphics.type == 'spice' %}
    <graphics type='spice' port='-1' autoport='yes' listen='127.0.0.1'>
      <listen type='address' address='127.0.0.1'/>
    </graphics>
    <video>
      <model type='qxl' ram='65536' vram='65536' vgamem='16384' heads='1' primary='yes'/>
      <alias name='video0'/>
    </video>
    {% if graphics.sound_enabled | default(false) %}
    <sound model='ich6'>
      <alias name='sound0'/>
    </sound>
    {% endif %}
{% endif %}
  </devices>
</domain>
